<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
                <ul class="cart__item-list">
                    <% orders.forEach(order => { %>
                        # <%= order._id  %>
                        <% order.products.forEach(product => { %>
                        <li class="cart__item">
                            <h1><%= product.product.title %></h1>
                            <h2>Quantity: <%= product.quantity %></h2>
                        </li>
                        <div class="mt-3 pt-5">
                            <a href="/orders/<%= order._id  %>" class="btn pt-3">Invoice</a>
                        </div>
                        
                        <% }) %>
                    <% }) %>
                </ul>
                
              
            <% } else { %>
                <h1>No Orders in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>